{% extends 'base.html' %}

{% block content %}

<main>
    <div class= "container">
        <div class="table-responsive text-nowrap">
    <h3>
        <strong>Your Orders</strong>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Items</th>
            <th scope="col">Quantity</th>
            <th scope="col">Order Date</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in order%}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>                
                    {% for items in order_item.items.all%}
                    <td>{{items.item}}</td>
                    <td>{{items.quantity}}</td>


                    {%endfor%}
            <td>{{ order_item.ordered_date }}</td>
            <td>Rs.{{ order_item.get_total_price }}</td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="5">Your Cart Empity</td>
        </tr>

         <tr>
            <td colspan="5">
                <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
            </td>
        </tr>

        {% endfor %}

        {% if object.get_total_price %}
        <tr>
            <td colspan="4"><b>Total Order Price</b></td>
            <td>${{ object.get_total_price }}</td>
        </tr>
         <tr>
            <td colspan="5">
                <a href="/checkout/" class="btn btn-warning float-right ml-2">Checkout</a>
                <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
            </td>
        </tr>
        
        {% endif %}
        
        </tbody>
    </table>

        </div>
    </div>
</main>

{% endblock content %}