{% extends 't_base.html' %}

{% block content %}

<main>
    <div class= "container">
        <div class="table-responsive text-nowrap">
    <h3>
        <strong>Your Orders</strong>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Items</th>
            <th scope="col">Quantity</th>
            <th scope="col">Order Date</th>
            <th scope="col">Price</th>
            <th scope="col"></th>            
        </tr>
        </thead>
        <tbody>
            {% for order_item in order%}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>                
                        <td>{% for items in order_item.items.all%}
                         <span style="width:100%">{{items.item}}</span> <br>
                        {%endfor%}</td>
    
                        <td>{% for items in order_item.items.all%}
                        <span style="width:100%">{{items.quantity}}</span><br>
                        {%endfor%}</td>
                <td>{{ order_item.ordered_date }}</td>
                <td>Rs.{{ order_item.get_total_price }}</td>
                <td><a href="{% url 'core:t_order_val' order_item.pk %}" class="btn btn-primary float-right">View</a></td>
            </tr>

        {% empty %}
        <tr>
            <td colspan="5">No Orders till now</td>
        </tr>
        {% endfor %}

        
        </tbody>
    </table>

        </div>
    </div>
</main>

{% endblock content %}